<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <nav class="container">
      <a href="/">home</a> |
      <a href="/about">about</a>
    </nav>
    <div class="container">
      <h1>게시판</h1>
      <form action="/create" method="post">
        <input
          type="text"
          name="post"
          placeholder="글을 입력하세요"
          autofocus
          autocomplete="off"
        />
        <button type="submit">글쓰기</button>
      </form>
      <section>
        <h1>글목록</h1>
        <ul>
          <% for( let i = 0; i < posts.length; i++ ) { %>
          <li><%= posts[i] %></li>
          <% } %>
        </ul>
      </section>
    </div>
  </body>
</html>
